[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
empy = "*"
lark = "*"
catkin-pkg = "*"
pymycobot = "*"
opencv-python = "*"
pygame = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
pillow = "*"
matplotlib = "*"
pybullet = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
run_mc = "ros2 launch src/launch/mycobot_launch.py"
run_master = "ros2 launch src/launch/master_launch.py"
